<!-- cards -->
<div class="d-flex flex-wrap m-l-50 pointer">
  <ng-container *ngFor="let course of courses">

    <div class="card subjects m-t-25 " style="width: 18rem;" (click)="navigateToCourseDetails(course)">
      <div class="d-flex justify-content-end">
        <i class="fa fa-trash edit-icon p-r-5 z-index" aria-hidden="true" (click)="deleteCourse($event,course)"></i>
        <i class="fa fa-pencil-square-o edit-icon p-r-30" aria-hidden="true" (click)="editCourse($event,course)"></i>
      </div>
      <img class="rounded" height="100" width="100" src="assets/icons/profile.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">{{course.courseName}}</p>
        <p class="card-text">{{course.courseDescription}}</p>
      </div>
    </div>
    <div class="col-md-1">
      <!-- space -->
    </div>
  </ng-container>
</div>