<div class="d-flex navigation-header align-items-center pointer">
  <i class="material-icons m-l-20 app-color-pink" (click)="navigateToDashboard()">
    arrow_back
  </i>
  <div class="d-flex m-l-20 m-t-15">
    <p class="p-r-10 app-color-grey font-weight-500 font-size-14 m-t-1">
      Course Name:
    </p>
    <p class="font-size-16 font-weight-500 color-black">
      Mechanical Engineering
    </p>
  </div>
    <button type="button" class="btn pink-color-label m-l-60-p" (click)="goToAddSubjects()">Add Subjects</button>

  <!-- <button (click)="goToAddSubjects()"> Add Subjects</button> -->
</div>
<div class="cover-photo">
  <img src="assets/images/app/books.jpeg" />
  <ng-container *ngTemplateOutlet="switches"></ng-container>
</div>


<app-subjects [subjects]="subjects"></app-subjects>

<ng-template #switches>
  <div *ngIf="years.length >= 1 ">
    <div class="year1 pointer" [ngClass]="isActiveYears.FIRST_YEAR ? 'active' : 'inactive'" (click)="yearChange(YEARS_ENUM.FIRST)">
      <div class="circle" [ngClass]="isActiveYears.FIRST_YEAR ? 'inactive' : 'active'">
        <span class="circle-label" [ngClass]="isActiveYears.FIRST_YEAR ? 'active-color' : 'inactive-color'">1</span>
        <p class="year-label" [ngClass]="isActiveYears.FIRST_YEAR ? 'year-label-active-color' : 'year-label-inactive-color'">YEAR</p>
      </div>
    </div>
    <div class="arrow-down1" *ngIf="isActiveYears.FIRST_YEAR"></div>
  </div>
  <div *ngIf="years.length >= 2 ">
    <div class="year2 pointer" [ngClass]="isActiveYears.SECOND_YEAR ? 'active' : 'inactive'" (click)="yearChange(YEARS_ENUM.SECOND)">
      <div class="circle" [ngClass]="isActiveYears.SECOND_YEAR ? 'inactive' : 'active'">
        <span class="circle-label" [ngClass]="isActiveYears.SECOND_YEAR ? 'active-color' : 'inactive-color'">2</span>
        <p class="year-label" [ngClass]="isActiveYears.SECOND_YEAR ? 'year-label-active-color' : 'year-label-inactive-color'">YEAR</p>
      </div>
    </div>
    <div class="arrow-down2 pointer" *ngIf="isActiveYears.SECOND_YEAR"></div>
  </div>
  <div *ngIf="years.length >= 3">
    <div class="year3 pointer" [ngClass]="isActiveYears.THIRD_YEAR ? 'active' : 'inactive'" (click)="yearChange(YEARS_ENUM.THIRD)">
      <div class="circle" [ngClass]="isActiveYears.THIRD_YEAR ? 'inactive' : 'active'">
        <span class="circle-label" [ngClass]="isActiveYears.THIRD_YEAR ? 'active-color' : 'inactive-color'">3</span>
        <p class="year-label" [ngClass]="isActiveYears.THIRD_YEAR ? 'year-label-active-color' : 'year-label-inactive-color'">YEAR</p>
      </div>
    </div>
    <div class="arrow-down3" *ngIf="isActiveYears.THIRD_YEAR"></div>
  </div>
  <div *ngIf="years.length >= 4 ">
    <div class="year4 pointer" [ngClass]="isActiveYears.FOURTH_YEAR ? 'active' : 'inactive'" (click)="yearChange(YEARS_ENUM.FOURTH)">
      <div class="circle" [ngClass]="isActiveYears.FOURTH_YEAR ? 'inactive' : 'active'">
        <span class="circle-label" [ngClass]="isActiveYears.FOURTH_YEAR ? 'active-color' : 'inactive-color'">4</span>
        <p class="year-label" [ngClass]="isActiveYears.FOURTH_YEAR ? 'year-label-active-color' : 'year-label-inactive-color'">YEAR</p>
      </div>
    </div>
    <div class="arrow-down4" *ngIf="isActiveYears.FOURTH_YEAR"></div>
  </div>
</ng-template>