<div class="d-flex navigation-header align-items-center pointer" (click)="navigateToDashboard()">
  <i class="material-icons m-l-20 app-color-pink">
    arrow_back
  </i>
  <div class="d-flex m-l-20 m-t-15">
    <p class="font-size-16 font-weight-500 color-black">
      Add Courses
    </p>
  </div>
</div>
<form [formGroup]="courseForm">
  <div class="container">
    <div align="right" class="m-b-10">
      <span placement="bottom" [ngbTooltip]="(courseForm.invalid) ? 'Please fill all the required course details to save' : 'Save all Courses'">
        <button type="button" class="btn pink-color-label m-r-10" (click)="saveAllCourses()" [disabled]="courseForm.invalid">
          <span class="fa fa-floppy-o p-r-10" aria-hidden="true"></span>Save All Courses
        </button>
      </span>
      <button type="button" class="btn pink-color-label" (click)="addAnotherCourse()">
        <span class="fa fa-plus p-r-10" aria-hidden="true"></span>Add Another Course
      </button>
    </div>
    <div formArrayName="courses">
      <ng-container *ngFor="let course of courseForm.get('courses')['controls']; let i = index">
        <div class="card m-t-30">
          <div class="card-header font-size-18">
            <span>Add Course Details {{i+1}}</span>
            <span class="fa fa-times m-t-5 pointer float-right" aria-hidden="true" (click)="removeCourse(i)"></span>
          </div>
          <div class="card-body">
            <form [formGroupName]="i" class="row">
              <div class="form-group col-md-4 min-height-94">
                <label for="courseName">Course Name</label>
                <input type="text" class="form-control" id="courseName" placeholder="Enter Course Name" formControlName="courseName"
                  required>
                <div class="error" [hidden]="!(courseForm.get('courses').controls[i].invalid && this.courseForm.get('courses').controls[i].get('courseName').touched)">
                  {{ getErrorMessage(courseForm, validation_messages, 'courseName') }}
                </div>
              </div>
              <div class="form-group col-md-4 min-height-94">
                <label for="courseCode">Course Code</label>
                <input type="text" class="form-control" id="courseCode" placeholder="Course Code" formControlName="courseCode"
                  required>
                <div class="error" [hidden]="!(courseForm.get('courses').controls[i].invalid && this.courseForm.get('courses').controls[i].get('courseCode').touched)">
                  {{ getErrorMessage(courseForm, validation_messages, 'courseCode') }}
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control" formControlName="courseYear">
                  <ng-container *ngFor="let year of yearsArr">
                    <option [ngValue]="year.yearId">{{year.displayYear}}</option>
                  </ng-container>
                </select>
                <div class="error" [hidden]="!(courseForm.get('courses').controls[i].invalid && this.courseForm.get('courses').controls[i].get('courseYear').touched)">
                  {{ getErrorMessage(courseForm, validation_messages, 'courseYear') }}
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="courseDesc">Course Description</label>
                <textarea class="form-control" id="courseDesc" placeholder="Course Description" rows="2"
                  formControlName="courseDescription" required></textarea>
                <div class="error" [hidden]="!(courseForm.get('courses').controls[i].invalid && this.courseForm.get('courses').controls[i].get('courseDescription').touched)">
                  {{ getErrorMessage(courseForm, validation_messages, 'courseDescription')
                  }}
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div align="right">
              <button type="button" class="btn pink-color-label m-r-10">
                <span class="fa fa-plus p-r-10" aria-hidden="true"></span>Add Subjects
              </button>
              <span placement="bottom" [ngbTooltip]="courseForm.get('courses').controls[i].invalid ? 'Please fill all the required fields of course details ' + (i+1) + 'to save' : 'Save Course Details' + (i+1)">
                <button type="button" class="btn pink-color-label" (click)="saveIndividualCourse(i)" [disabled]="courseForm.get('courses').controls[i].invalid">
                  <span class="fa fa-floppy-o p-r-10" aria-hidden="true"></span>Save Course
                </button>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</form>