<div>
  <div class="p-t-100 p-b-30">
    <app-logo></app-logo>
  </div>
  <form class="float-labels" [formGroup]="dynamicForm" (ngSubmit)="formSubmit()">
    <div class="container align-middle my-2-em">
      <div class="row">
        <ng-container *ngFor="let formField of formInfo">
          <div class="col-md-10 mx-auto">
            <ng-container *ngIf="isTextField(formField.type)">
              <div class="form-group has-search">
                <div class="input-group">
                  <ng-container *ngIf="isGroupedInput(formField, GROUPED_INPUT_ENUM.LEFT)">
                    <div class="input-group-append">
                      <button class="btn pink-color" type="button">
                        {{formField.groupedInfo.label}}
                      </button>
                    </div>
                  </ng-container>
                  <input [type]="formField.type" [id]="formField.id" class="form-control" [formControlName]="formField.formControlName"
                    [required]="formField.required">
                  <label class="form-control-placeholder" [for]="formField.id">{{formField.label}}</label>
                  <ng-container *ngIf="isGroupedInput(formField, GROUPED_INPUT_ENUM.RIGHT)">
                    <div class="input-group-append">
                      <button *ngIf="checkGroupedInfoType(formField.groupedInfo.type, GROUPED_INPUT_ENUM.LINK)" class="btn pink-color"
                        type="button" (click)="navigate(formField.groupedInfo)">
                        {{formField.groupedInfo.label}}
                      </button>
                      <span *ngIf="checkGroupedInfoType(formField.groupedInfo.type, GROUPED_INPUT_ENUM.ICON)" class="form-control-feedback material-icons icon"
                        [ngClass]="formField.groupedInfo.direction === GROUPED_INPUT_ENUM.RIGHT ? 'r-0' : ''">{{formField.groupedInfo.label}}</span>
                    </div>
                  </ng-container>
                </div>
              </div>
              <ngb-alert class="m-b-25" type="danger" [dismissible]="false" *ngIf="dynamicForm.get(formField.formControlName).invalid && dynamicForm.get(formField.formControlName).touched">
                {{ getErrorMessage(dynamicForm, validation_messages, formField.formControlName) }}
              </ngb-alert>
            </ng-container>
            <ng-container *ngIf="isButton(formField.type)">
              <button [disabled]="isFormValid()" [type]="formField.type" class="btn pink-color btn-block border-radius-25 m-t-50">{{formField.label
                | titlecase}}</button>
            </ng-container>
            <ng-container *ngIf="isLink(formField.type)">
              <div class="m-t-40">
                <p class="font-weight-500 font-size-14 m-b-0" *ngIf="formField.hasDescription">
                  {{formField.description}}
                </p>
                <a [id]="formField" class="register-link" routerLink="{{formField.navigationPath}}">
                  {{formField.label}}
                </a>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>