@import '../../../../assets/styles/variables.scss';
.my-2-em {
    margin-top: 2em !important;
}

a.register-link {
    color: $-pink-color;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 4;
    display: block;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: $-pink-color;
    font-weight: 500;
}

.has-search .link {
    font-size: 14px;
}

.has-search .icon {
    font-size: 20px;
}

.has-search .r-0 {
    right: 0;
}

.has-search .input-group-append .btn {
    background-color: white;
    color: $-pink-color;
    border: 0px 0px 1px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(206, 212, 218);
    font-weight: 500;
}

.has-search .input-group-append .btn:focus {
    box-shadow: none;
}