<div class="row auth-layout">
    <div class="col-md-6">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-6 right-content">
        <img src="assets/images/app/login-background.png">
        <div class="text-overlay-content p-l-30">
            <p class="heading">Welcome</p>
            <div class="description">
                <p>Develop a passion for learning. If you do, you will never cease to grow.</p>
                <p>Education is not preparation for life; education is life itself.</p>
            </div>
        </div>
    </div>
</div>