@import './variables.scss';


.threeD-pink-gradient {
    box-shadow: 89px 19px 137px 18px $-pink-gradient-color;
}
// common images scss 
img.rounded-circle {
    height: 50px;
    width: 50px;
}

// common button images
button.pink-color,.pink-color:hover {
    background-color: $-pink-color;
    border-color: $-pink-color;
    color: $-white-color;
}

button.pink-color:focus {
    box-shadow: 0 0 0 0.2rem $-pink-color;
}

input.form-control:focus {
    box-shadow: none;
    border-color: $-pink-color;
}

button.pink-color-label {
    color: $-pink-color;
    border-color: $-pink-color
}

button.pink-color-label:hover {
    background-color: $-pink-color;
    color: $-white-color;
    border-color: $-pink-color;
}

.float-labels {
    .form-group {
        position: relative;
        margin-bottom: 1.5rem;
      }
    
      input.form-control:focus {
        box-shadow: none;
        border-color: black;
      }
      .form-control {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: unset;
      }
      
      .form-control-placeholder {
        position: absolute;
        top: 0;
        padding: 7px 0 0 13px;
        transition: all 200ms;
        opacity: 0.5;
      }
      
      .form-control:focus + .form-control-placeholder,
      .form-control:valid + .form-control-placeholder {
        font-size: 75%;
        transform: translate3d(0, -100%, 0);
        opacity: 1;
        color: #ef6f6f;
        font-weight: 500;
        font-size: 14px;
      }

      .btn:disabled{
        background-color: #403c3c;
        border-color: #403c3c;
        cursor: not-allowed;
        pointer-events: all !important;
    }
      
}